<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Cadastro de aluno</title>
   <style type="text/css" media="all">
    .form_table { text-align: center; }

  </style>

  </head>
  <body>
	   <div class="form_table">
       <form action="LoginController" method="post">
  		     <label>Nome do Aluno</label>
           <br>
           <input type="text" name="name">
           <br>
           <br>
  		     <input type="submit" value="Cadastrar aluno"/>
  	   </form>
     </div>
   </body>
</html>
